<div class="container mt-5">
  <h1>Pizza Order Form</h1>
  <p class="mb-5">
    Order your Pizza by clicking the button below. This will call the
    orderPizza API using an access token, and the API will validate it using the
    API's audience value.
  </p>
  <div>
  <button class="btn btn-primary mb-3" (click)="isEmailVerifiedFun()">Check Menu</button>
  </div>

  <div>
  <button class="btn btn-secondary mb-5" (click)="pingApi()" *ngIf="isEmailVerified">XXL Pizza</button>
  </div>


    <div class="result-block-container" *ngIf="!isEmailVerified && isEmailVerified!=null">
      Your Email-id isnt verified. Cannot order at this time
    </div>

  <div class="result-block-container" *ngIf="responseJson">
    <div class="result-block" [ngClass]="{ show: !!responseJson }">
      <h6 class="bold ">ORDER STATUS</h6>
      <pre>
        <code class="js rounded" [highlight]="responseJson"></code>
      </pre>
    </div>
  </div>
</div>


